  <form action="/" method="post">
    <input type="text" required placeholder="New Album Name" name="new-album">
    <input type="text" required placeholder="About" name="about-new-album">
    <input type="text" placeholder="Link to Cover Art" name="cover">
    <input type="submit">
  </form>
  <br>
  <div>
      <% @albums.each do |album| %>
        <div><a href = "/albums/<%= album[0] %>">
          <span><%= album[1] %> | </span>
          <span><%= album[2] %> </span>
        </a></div>
      <% end %>
  </div>