<!DOCTYPE html>
<html>
<head>
  <title>Songify</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="header"><h1>SONGIFY</h1></div>

  <%= yield %>

</body>
</html>